                        <table class="marks-table">
                            <tr>
                                <th colspan="7">ACADEMIC PERFORMANCE</th>
                            </tr>
                            <tr>
                                <th>SUBJECTS</th>
                                <th>FULL MARKS</th>
                                <th>PASS MARKS</th>
                                <th>FIRST TEST</th>
                                <!-- 
                                <th>SECOND TEST</th>
                                <th>THIRD TEST</th>
                                <th>AVERAGE</th> -->
                            </tr>


                            <tr>
                                <td>ENGLISH</td><td>100</td><td>{{ lang_pass_marks }} </td>
                                <td>

                                    {% if first_terminal_english_mark < lang_pass_marks %}
                                        <span class="crossed"> {{ first_terminal_english_mark }}</span>
                                    {% else %}
                                        <span>{{ first_terminal_english_mark }} </span>
                                    {% endif %}

                                </td><!-- <td> </td><td> </td><td> </td> -->
                            </tr>
                                                       <tr>
                                <td>HINDI</td><td>100</td><td>{{ lang_pass_marks }}</td>
                                <td>
                              
                                    {% if first_terminal_hindi_mark < lang_pass_marks %}
                                        <span class="crossed"> {{ first_terminal_hindi_mark }}</span>
                                    {% else %}
                                        <span>{{ first_terminal_hindi_mark }} </span>
                                    {% endif %}  
                                </td><!-- <td></td><td></td><td></td> -->
                            </tr>
                             <tr>
                                <td>MATHEMATICS</td><td>100</td><td>{{ rest_subj_pass_marks }}</td>
                                <td> 
                                    {% if first_terminal_mathematics_mark < rest_subj_pass_marks %}
                                        <span class="crossed"> {{ first_terminal_mathematics_mark }}</span>
                                    {% else %}
                                        <span>{{ first_terminal_mathematics_mark }} </span>
                                    {% endif %}
                                </td><!-- <td></td><td></td><td></td> -->
                            </tr>
                            <tr>
                                <td>ENVIRONMENTAL STUDIES</td><td>{{ lkg_ukg_full_marks }}</td><td>{{ rest_subj_pass_marks }}</td>
                                <td>
                                    {% if first_terminal_environmental_studies < rest_subj_pass_marks %}
                                        <span class="crossed"> {{ first_terminal_environmental_studies }}</span>
                                    {% else %}
                                        <span>{{ first_terminal_environmental_studies }} </span>
                                    {% endif %}
                                </td><!-- <td> </td><td> </td><td> </td> -->
                            </tr>
                            <tr>
                                <td>CONVERSATION</td><td>{{ lkg_ukg_full_marks }}</td><td>{{ rest_subj_pass_marks }}</td>
                                <td>
                                    {% if first_terminal_conversation_mark < rest_subj_pass_marks %}
                                        <span class="crossed"> {{ first_terminal_conversation_mark }}</span>
                                    {% else %}
                                        <span>{{ first_terminal_conversation_mark }} </span>
                                    {% endif %}
                                </td><!-- <td> </td><td> </td><td> </td> -->
                            </tr>
                            <tr>
                                <td>DICTATION</td><td>{{ lkg_ukg_full_marks }}</td><td>{{ rest_subj_pass_marks }}</td>
                                <td>
                                    {% if first_terminal_dictation_mark < rest_subj_pass_marks %}
                                        <span class="crossed"> {{ first_terminal_dictation_mark }}</span>
                                    {% else %}
                                        <span>{{ first_terminal_dictation_mark }} </span>
                                    {% endif %}
                                </td><!-- <td> </td><td> </td><td> </td> -->
                            </tr>
                            <tr>
                                <td>RHYMES</td><td>{{ lkg_ukg_full_marks }}</td><td>{{ rest_subj_pass_marks }}</td>
                                <td>
                                    {% if first_terminal_ryhmes_mark < rest_subj_pass_marks %}
                                        <span class="crossed"> {{ first_terminal_ryhmes_mark }}</span>
                                    {% else %}
                                        <span>{{ first_terminal_ryhmes_mark }} </span>
                                    {% endif %}
                                </td><!-- <td> </td><td> </td><td> </td> -->
                            </tr>
                            <tr>
                                <td>HANDWRITING</td><td>A</td><td>{{ min_grade }}</td><td>{{ first_terminal_handwriting_mark }}</td><!-- <td> </td><td> </td><td> </td> -->
                            </tr>
                            <tr>
                                <td>DRAWING</td><td>A</td><td>{{ min_grade }}</td><td>{{ first_terminal_drawing_mark }}</td><!-- <td> </td><td> </td><td> </td> -->
                            </tr>
                            <tr>
                                <th>TOTAL</th><th>{{ total_full_marks }}</th><th>{{ total_pass_marks }}</th><th><!--{{ first_terminal_total_marks }}-->{{ class_ukg_total_marks }}</th><!-- <th></th><th></th><th></th> -->
                            </tr>
                            <tr>
                                <th>PERCENTAGE</th><th></th><th></th><th>{{ first_terminal_percentage }}</th><!-- <th></th><th></th><th></th> -->
                            </tr>
                        </table>