                        <table class="marks-table">
                            <tr>
                                <th colspan="7">ACADEMIC PERFORMANCE</th>
                            </tr>
                            <tr>
                                <th>SUBJECTS</th>
                                <th>FULL MARKS</th>
                                <th>PASS MARKS</th>
                                <th>FIRST TEST</th>
                                <!-- <th>SECOND TEST</th>
                                <th>THIRD TEST</th>
                                <th>AVERAGE</th> -->
                            </tr>


                            <tr>
                                <td>ENGLISH GRAMMAR</td><td>100</td><td>{{ lang_pass_marks }}</td><td>{{ first_terminal_english_lang_mark }}</td> <!-- <td> </td><td> </td><td> </td> -->
                            </tr>
                            <tr>
                                <td>ENGLISH LITERATURE</td><td>100</td><td>{{ lang_pass_marks }}</td><td>{{ first_terminal_english_lit_mark }}</td><!-- <td></td><td></td><td></td> -->
                            </tr>
                            <tr>
                                <td>HINDI</td><td>100</td><td>{{ lang_pass_marks }}</td><td>{{ first_terminal_hindi_mark }}</td><!-- <td></td><td></td><td></td> -->
                            </tr>
                            <tr>
                                <td>SANSKRIT</td><td>100</td><td>{{ rest_subj_pass_marks }}</td><td>{{ first_terminal_sanskrit_mark }}</td><!-- <td></td><td></td><td></td> -->
                            </tr>                        
                            <tr>
                                <td>PHYSICS</td><td>100</td><td>{{ rest_subj_pass_marks }}</td><td>{{ first_terminal_physics_mark }}</td><!-- <td></td><td></td><td></td> -->
                            </tr>
                            <tr>
                                <td>CHEMISTRY</td><td>100</td><td>{{ rest_subj_pass_marks }}</td><td>{{ first_terminal_chemistry_mark }}</td><!-- <td></td><td></td><td></td> -->
                            </tr>
                            <tr>
                                <td>BIOLOGY</td><td>100</td><td>{{ rest_subj_pass_marks }}</td><td>{{ first_terminal_biology_mark }}</td><!-- <td></td><td></td><td></td> -->
                            </tr>
                            <tr>
                                <td>HISTORY AND CIVICS</td><td>100</td><td>{{ rest_subj_pass_marks }}</td><td>{{ first_terminal_history_mark }}</td><!-- <td></td><td></td><td></td> -->
                            </tr>
                            <tr>
                                <td>GEOGRAPHY</td><td>100</td><td>{{ rest_subj_pass_marks }}</td><td>{{ first_terminal_geography_mark }}</td><!-- <td></td><td></td><td></td> -->
                            </tr>
                             <tr>
                                <td>MATHEMATICS</td><td>100</td><td>{{ rest_subj_pass_marks }}</td><td>{{ first_terminal_mathematics_mark }}</td><!-- <td></td><td></td><td></td> -->
                            </tr>   
                            <tr>
                                <td>GENERAL KNOWLEDGE</td><td>100</td><td>{{ rest_subj_pass_marks }}</td><td>{{ first_terminal_general_knowledge_mark }}</td><!-- <td></td><td></td><td></td> -->
                            </tr>

                            <tr>
                                <td>MORAL SCIENCE</td><td>100</td><td>{{ rest_subj_pass_marks }}</td><td>{{ first_terminal_moral_science_mark }}</td><!-- <td></td><td></td><td></td> -->
                            </tr>
                            <tr>
                                <td>COMPUTER</td><td>100</td><td>{{ rest_subj_pass_marks }}</td><td>{{ first_terminal_computer_mark }}</td><!-- <td></td><td></td><td></td> -->
                            </tr>
                            <tr>
                                <th>TOTAL</th><th>1000</th><th>500</th><th><!--{{ first_terminal_total_marks }}-->{{ class_vi_vii_total_marks }} </th> <!-- <th></th><th></th><th></th> -->
                            </tr>
                            <tr>
                                <th>PERCENTAGE</th><th></th><th></th><th>{{ first_terminal_percentage }}</th> <!-- <th></th><th></th><th></th> -->
                            </tr>
                        </table>