

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
          <h5 class="card-title">Crosslists from Academic Session : {{ session }} </h5>   

            <p>Follow <a href="/admin" target="_blank">This Admin Panel</a> To Add Exam's Related Data to this Vault.</p>
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Student Name</th> 
                  <th scope="col">Details</th> 
                  <th scope="col">Crosslists</th> 
                  
                  <!-- <th scope="col">Profile</th> -->
                  <th scope="col">Class</th>    
                  <th scope="col">Roll Number</th>
                  <!-- <th scope="col">English (Lang)</th>
                  <th scope="col">English (Lit)</th>
                  <th scope="col">Hindi</th>
                  <th scope="col">Sanskrit</th>
                  <th scope="col">Social Studies</th>
                  <th scope="col">Moral Science</th>
                  <th scope="col">G.K</th> -->
                  <th scope="col">Attendance</th>
                  <th scope="col">Total Marks</th>
                  <th scope="col">Percentage</th>
                  <th scope="col">Rank</th>
                  <th scope="col">Status</th>
                  <th scope="col">Result</th>
                  <th scope="col">Update</th>

                </tr>
              </thead>
              <tbody>
                
                {% for data in terminalexam %}
                
                  {% if data.academic_session == session %}
                    <tr>
                      <th scope="row">{{ data.pk }}</th>
                      <td><a href="{% url 'Filter_Students_Via_Class' data.pk %}" target="_blank">{{ data.student_name }}</a></td>
                      <!-- <td><a href='/media/' target="_blank">Show PDF</a></td> -->
                      <td><a href='/admin/studentsapp/studentmodel/{{ data.pk }}/change/' target="_blank">Edit</a></td>
                      <td><a href='/crosslists/of/{{ data.class_name}}/' target="_blank">Show</a></td>
                      <td>{{ data.class_name }}</td>
                      <td>{{ data.roll_number }}</td>
                      <!-- <td>{{ data.english_language }}</td>
                      <td>{{ data.english_literature }}</td>
                      <td>{{ data.hindi }}</td>
                      <td>{{ data.sanskrit }}</td>
                      <td>{{ data.social_studies }}</td>
                      <td>{{ data.moral_science }}</td>
                      <td>{{ data.general_knowledge }}</td> -->
                      <td>{{ data.days_present }}/{{ data.working_days }}</td>
                      <td>{{ data.total_marks }}</td>
                      <td>{{ data.percentage }}</td>
                      <td>{{ data.my_rank }}</td>
                     <td>
                       {% include 'classwise_crosslists/divsections/correctionStatus.html' %}
                     </td>

                      <td><a href="/result/{{ data.academic_session }}/{{ data.class_name }}-A/{{ data.roll_number }}/sno/{{data.pk}}" target="_blank">Show</a></td>
                      <td><a href="/admin/resultapp/terminalexammarksmodel/{{ data.pk }}/change/" target="_blank">Update</a></td>     
                  </tr>
                    {% endif %} 



                {% endfor %}

              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>