                    <table class="attendance-table">
                        <tr>
                            <th colspan="4">ATTENDANCE</th>
                        </tr>
                        <tr>
                            <th>No. OF</th>
                            <th>FIRST TEST</th>
                            <th>SECOND TEST</th>
                            <th>THIRD TEST</th>
                        </tr>
                        <tr>
                            <td>WORKING DAYS</td>
                            <td>{{ first_terminal_working_days }}</td>
                            <td><!-- SECOND_WORKING_DAYS --></td>
                            <td><!-- THIRD_WORKING_DAYS --></td>
                        </tr>
                        <tr>
                            <td>DAYS PRESENT</td>
                            <td>{{ first_terminal_days_present }}</td>
                            <td><!-- SECOND_DAYS_PRESENT--></td>
                            <td><!-- THIRD_DAYS_PRESENT--></td>
                        </tr>
                        <tr>
                            <td>TOTAL STUDENTS</td>
                            <td>{{ first_terminal_total_students }}</td>
                            <td><!-- SECOND_TOTAL_STUDENTS--></td>
                            <td><!-- THIRD_TOTAL_STUDENTS--></td>
                        </tr>
                        <tr>
                            <td>FIRST RANK</td>
                            <td>{{ first_terminal_first_rank }}</td>
                            <td><!-- SECOND_TERMINAL_FIRST_RANK --></td>
                            <td><!-- THIRD_TERMINAL_FIRST_RANK --></td>
                        </tr>
                        <tr>
                            <td>MY RANK</td>
                            <td>

                                {{ first_terminal_my_rank }}

                            </td>
                            <td><!-- SECOND_TERMINAL_MY_RANK --></td>
                            <td><!-- THIRD_TERMINAL_MY_RANK --></td>
                        </tr>
                    </table>