{% load static %}

<div class="center-image">
 <table class="top-heading-box" style="border: 0px solid #333;">
        <tr>
            <td>
                <img src="{% static 'img/school-logo.png' %}" alt="School Logo" />
            </td>
            <td>
                <div class="header">
                    <div class="school-title">ST. THOMAS SCHOOL</div>
                    <div class="school-address">AGIAMORE, GODDA, JHARKHAND – 814133 &nbsp; Ph: +91-9006547683</div>
                    <div class="gray-box">ACADEMIC SESSION ({{ student.academic_session }})</div>
                    <!-- <div>class 10 Marksheet (modified)</div> -->
                </div>
            </td>
        </tr>
    </table>

</div>
