                        <table class="attendance-table" style="border: 1px solid black;">
                        
                            <tr >
                                <th rowspan="4"> <span class="vertical-text">&nbsp;&nbsp;SIGNATURE&nbsp;&nbsp;</span> </th>
                                <tr>
                                    <th> CLASS TEACHER </th>
                                    <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                    <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                    <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                </tr>
                                <tr>
                                    <th> PRINCIPAL  </th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th> PARENT </th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tr>

                        </table>