                        <table class="info-table">
                            <tr>
                                <td><strong>NAME</strong> : {{ student.student_name }}</td>
                                 <td><strong>SESSION</strong> : {{ student.academic_session }}</td>
                            </tr>
                            <tr>
                                <td><strong>CLASS</strong> : {{ student.class_name }}</td>
                                <td><strong>SECTION</strong> : {{ student.section_name }}</td>
                            </tr>
                            <tr>
                                <td><strong>Admission No</strong>: {{ admission_no }}</td>
                                <td><strong>ROLL No</strong> : {{ student.roll_no }}</td>
                            </tr>
                        </table>