

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">

           
            {% if alias_name == 'allexams' %} <h5 class="card-title">All Exams History</h5> 
            {% elif alias_name == 'sanju' %}  <h5 class="card-title">Sanjeev Stephan Murmu's Exams Records</h5> 
            {% elif alias_name == 'santosh' %}  <h5 class="card-title">Sanjiv Marandi's Exams Records</h5> 
            {% else %}
                 <h5 class="card-title">All {{ exam_institution }} Exams Records</h5>   
            {% endif %}

            <p>Follow <a href="/admin" target="_blank">This Admin Panel</a> To Add Exam's Related Data to this Vault.</p>
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Exam Title</th>
                  <th scope="col">Application (PDF)</th>
                  <th scope="col">Tag</th> 
                  <th scope="col">Year</th>            
                  <th scope="col">Last Date</th>
                  <th scope="col">Exan Date</th>
                  <th scope="col">Reg ID</th>
                  <th scope="col">Password</th>
                  <th scope="col">AdmitCard (PDF)</th>   
                  <th scope="col">Status</th>
                  <!-- <th scope="col">Added On</th> -->
                </tr>
              </thead>
              <tbody>

                {% for data in examsdata %}

                  {% if data.alias == alias_name %}
                  <tr>
                      <th scope="row">{{ data.pk }}</th>
                      <!-- <td><a href="{ % url 'localdata_view' data.pk % }" target="_blank">{{ data.title }}</a></td> -->
                      <td>{{ data.exan_title }}</td>
                      <td><a href='/media/{{ data.app_form }}' target="_blank">Show PDF</a></td>
                      <td>{{ data.tag }}</td>
                      <td>{{ data.exam_year }}</td>
                      <td>{{ data.last_date }}</td>
                      <td>{{ data.exam_date }}</td>
                      <td>{{ data.reg_id }} </td>
                      <td>{{ data.password }}</td>

                      {% if data.admit_card_available == 'no' %}     <td>Unavailable</td>
                      {% elif data.admit_card != null %}  <td><a href='/media/{{ data.admit_card }}' target="_blank">Download</td> {% endif %}


                      {% if data.status == 'Applied' %}        <td><span class='btn btn-outline-primary btn-sm'>{{ data.status }}</span></td>
                        {% elif data.status == 'Appeared' %}   <td><span class='btn btn-outline-success btn-sm'>{{ data.status }}</span></td>
                        {% elif data.status == 'Cancelled' %}  <td><span class='btn btn-outline-danger btn-sm'>{{ data.status }}</span></td>
                        {% elif data.status == 'Pending' %}    <td><span class='btn btn-outline-warning btn-sm'>{{ data.status }}</span></td>
                      {% endif %}


                  </tr>

                     {% elif data.tag == exam_institution %}
                    <tr>
                        <th scope="row">{{ data.pk }}</th>
                        <td><a href="{ % url 'localdata_view' data.pk % }" target="_blank">{{ data.title }}</a></td> 
                        <td>{{ data.exan_title }}</td>
                        <td><a href='/media/{{ data.app_form }}' target="_blank">Show PDF</a></td>
                        <td>{{ data.tag }}</td>
                        <td>{{ data.exam_year }}</td>
                        <td>{{ data.last_date }}</td>
                        <td>{{ data.exam_date }}</td>
                        <td>{{ data.reg_id }}</td>
                        <td>{{ data.password }}</td>

                        {% if data.admit_card_available == 'no' %}     <td>Unavailable</td>
                        {% elif data.admit_card != null %}  <td><a href='/media/{{ data.admit_card }}' target="_blank">Download</td> {% endif %}

                        {% if data.status == 'Applied' %}        <td><span class='btn btn-outline-primary btn-sm'>{{ data.status }}</span></td>
                          {% elif data.status == 'Appeared' %}   <td><span class='btn btn-outline-success btn-sm'>{{ data.status }}</span></td>
                          {% elif data.status == 'Cancelled' %}  <td><span class='btn btn-outline-danger btn-sm'>{{ data.status }}</span></td>
                          {% elif data.status == 'Pending' %}    <td><span class='btn btn-outline-warning btn-sm'>{{ data.status }}</span></td>
                        {% endif %}
                    </tr> 


                   {% elif alias_name == 'all' %}
                  
                    <tr>
                        <th scope="row">{{ data.pk }}</th>
                        <td><a href="{ % url 'localdata_view' data.pk % }" target="_blank">{{ data.title }}</a></td> 
                        <td>{{ data.exan_title }}</td>
                        <td><a href='/media/{{ data.app_form }}' target="_blank">Show PDF</a></td>
                        <td>{{ data.tag }}</td>
                        <td>{{ data.exam_year }}</td>
                        <td>{{ data.last_date }}</td>
                        <td>{{ data.exam_date }}</td>
                        <td>{{ data.reg_id }}</td>
                        <td>{{ data.password }}</td>

                        {% if data.admit_card_available == 'no' %}     <td>Unavailable</td>
                        {% elif data.admit_card != null %} <td><a href='/media/{{ data.admit_card }}' target="_blank">Download</td> {% endif %}

                        {% if data.status == 'Applied' %}        <td><span class='btn btn-outline-primary btn-sm'>{{ data.status }}</span></td>
                          {% elif data.status == 'Appeared' %}   <td><span class='btn btn-outline-success btn-sm'>{{ data.status }}</span></td>
                          {% elif data.status == 'Cancelled' %}  <td><span class='btn btn-outline-danger btn-sm'>{{ data.status }}</span></td>
                          {% elif data.status == 'Pending' %}    <td><span class='btn btn-outline-warning btn-sm'>{{ data.status }}</span></td>
                        {% endif %}
                    </tr>

                  {% endif %} 


                {% endfor %}

              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>