<style>
        .promoted {
        color: #167200;
        font-weight: bold;
        font-size: 1.09rem;
        letter-spacing: 1px;
        background: #eaffea;
        padding: 2px 8px;
        border-radius: 5px;
    }
    .fare
    {
        color: #097ad6;
        font-weight: bold;
        font-size: 1.09rem;
        letter-spacing: 1px;
        background: #ffffff;
        padding: 2px 8px;
        border-radius: 5px;    
    }
    .failed
    {
        color: #d64309;
        font-weight: bold;
        font-size: 1.09rem;
        letter-spacing: 1px;
        background: #ffffff;
        padding: 2px 8px;
        border-radius: 5px;
    }
</style>